Repository basedosdados/sdk, pull requests merged in 2020-11, with the labels that each got.

#167 Sobe IDEB.
  bases/br_inep_ideb/README.md
  bases/br_inep_ideb/brasil/publish.sql
  bases/br_inep_ideb/brasil/schema-prod.json
  bases/br_inep_ideb/brasil/schema-staging.json
  bases/br_inep_ideb/brasil/table_config.yaml
  bases/br_inep_ideb/brasil/table_description.txt
  bases/br_inep_ideb/brasil_ano_escolar/publish.sql
  bases/br_inep_ideb/brasil_ano_escolar/schema-prod.json
  bases/br_inep_ideb/brasil_ano_escolar/schema-staging.json
  bases/br_inep_ideb/brasil_ano_escolar/table_config.yaml
  bases/br_inep_ideb/brasil_ano_escolar/table_description.txt
  bases/br_inep_ideb/code/build.do
  bases/br_inep_ideb/code/fnc/clean_string.do
  bases/br_inep_ideb/code/sub/brasil.do
  bases/br_inep_ideb/code/sub/escola.do
  bases/br_inep_ideb/code/sub/estado_regiao.do
  bases/br_inep_ideb/code/sub/municipio.do
  bases/br_inep_ideb/code/sub/normalizacao.do
  bases/br_inep_ideb/dataset_config.yaml
  bases/br_inep_ideb/escola/publish.sql
  bases/br_inep_ideb/escola/schema-prod.json
  bases/br_inep_ideb/escola/schema-staging.json
  bases/br_inep_ideb/escola/table_config.yaml
  bases/br_inep_ideb/escola/table_description.txt
  bases/br_inep_ideb/escola_ano_escolar/publish.sql
  bases/br_inep_ideb/escola_ano_escolar/schema-prod.json
  bases/br_inep_ideb/escola_ano_escolar/schema-staging.json
  bases/br_inep_ideb/escola_ano_escolar/table_config.yaml
  bases/br_inep_ideb/escola_ano_escolar/table_description.txt
  bases/br_inep_ideb/estado/publish.sql
  bases/br_inep_ideb/estado/schema-prod.json
  bases/br_inep_ideb/estado/schema-staging.json
  bases/br_inep_ideb/estado/table_config.yaml
  bases/br_inep_ideb/estado/table_description.txt
  bases/br_inep_ideb/estado_ano_escolar/publish.sql
  bases/br_inep_ideb/estado_ano_escolar/schema-prod.json
  bases/br_inep_ideb/estado_ano_escolar/schema-staging.json
  bases/br_inep_ideb/estado_ano_escolar/table_config.yaml
  bases/br_inep_ideb/estado_ano_escolar/table_description.txt
  bases/br_inep_ideb/municipio/publish.sql
  bases/br_inep_ideb/municipio/schema-prod.json
  bases/br_inep_ideb/municipio/schema-staging.json
  bases/br_inep_ideb/municipio/table_config.yaml
  bases/br_inep_ideb/municipio/table_description.txt
  bases/br_inep_ideb/municipio_ano_escolar/publish.sql
  bases/br_inep_ideb/municipio_ano_escolar/schema-prod.json
  bases/br_inep_ideb/municipio_ano_escolar/schema-staging.json
  bases/br_inep_ideb/municipio_ano_escolar/table_config.yaml
  bases/br_inep_ideb/municipio_ano_escolar/table_description.txt
  bases/br_inep_ideb/regiao/publish.sql
  bases/br_inep_ideb/regiao/schema-prod.json
  bases/br_inep_ideb/regiao/schema-staging.json
  bases/br_inep_ideb/regiao/table_config.yaml
  bases/br_inep_ideb/regiao/table_description.txt
  bases/br_inep_ideb/regiao_ano_escolar/publish.sql
  bases/br_inep_ideb/regiao_ano_escolar/schema-prod.json
  bases/br_inep_ideb/regiao_ano_escolar/schema-staging.json
  bases/br_inep_ideb/regiao_ano_escolar/table_config.yaml
  bases/br_inep_ideb/regiao_ano_escolar/table_description.txt
Labels: data

#155 Dados de sócios da Receita Federal.
  bases/br_me_socios/README.md
  bases/br_me_socios/cnae_cnpj/publish.sql
  bases/br_me_socios/cnae_cnpj/schema-prod.json
  bases/br_me_socios/cnae_cnpj/schema-staging.json
  bases/br_me_socios/cnae_cnpj/table_config.yaml
  bases/br_me_socios/cnae_cnpj/table_description.txt
  bases/br_me_socios/cnae_secundaria/publish.sql
  bases/br_me_socios/cnae_secundaria/schema-prod.json
  bases/br_me_socios/cnae_secundaria/schema-staging.json
  bases/br_me_socios/cnae_secundaria/table_config.yaml
  bases/br_me_socios/cnae_secundaria/table_description.txt
  bases/br_me_socios/code/build.do
  bases/br_me_socios/code/sub/tabelas.do
  bases/br_me_socios/dataset_config.yaml
  bases/br_me_socios/dictionaries/LAYOUT_DADOS_ABERTOS_CNPJ.pdf
  bases/br_me_socios/empresa/publish.sql
  bases/br_me_socios/empresa/schema-prod.json
  bases/br_me_socios/empresa/schema-staging.json
  bases/br_me_socios/empresa/table_config.yaml
  bases/br_me_socios/empresa/table_description.txt
  bases/br_me_socios/holding/publish.sql
  bases/br_me_socios/holding/schema-prod.json
  bases/br_me_socios/holding/schema-staging.json
  bases/br_me_socios/holding/table_config.yaml
  bases/br_me_socios/holding/table_description.txt
  bases/br_me_socios/socio/publish.sql
  bases/br_me_socios/socio/schema-prod.json
  bases/br_me_socios/socio/schema-staging.json
  bases/br_me_socios/socio/table_config.yaml
  bases/br_me_socios/socio/table_description.txt
Labels: data

#173 Fix BUG: Table publish throwing error 500 #172
  .gitignore
  basedosdados/configs/templates/table/publish.sql
  basedosdados/table.py
  bases/br_basedosdados_diretorios_brasil/estados/publish.sql
  bases/br_basedosdados_diretorios_brasil/municipios/publish.sql
  bases/br_camara_atividade_legislativa/deputados/publish.sql
  bases/br_camara_atividade_legislativa/orgaos/publish.sql
  bases/br_cgu_servidores_executivo_federal/servidores_civis_cadastro/publish.sql
  bases/br_geobr_mapas/biomas/publish.sql
  bases/br_geobr_mapas/setor_censitario_2010/publish.sql
  bases/br_ibge_amc/municipio_de_para/publish.sql
  bases/br_ibge_nomes_brasil/quantidade_municipio_nome_2010/publish.sql
  bases/br_ibge_pib/municipios/publish.sql
  bases/br_ibge_pnad_covid/microdados/publish.sql
  bases/br_ibge_populacao/municipios/publish.sql
  bases/br_inpe_prodes/desmatamento_municipios/publish.sql
  bases/br_mapbiomas_estatisticas/cobertura_estado_bioma_classe/publish.sql
  bases/br_mapbiomas_estatisticas/cobertura_municipio_classe/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_anual/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_decenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_quinquenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_anual/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_decenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_quinquenal/publish.sql
  bases/br_ms_sim/microdados/publish.sql
  bases/br_ms_sim/municipio/publish.sql
  bases/br_ms_sim/municipio_causa/publish.sql
  bases/br_ms_sim/municipio_causa_idade/publish.sql
  bases/br_ms_sim/municipio_causa_idade_genero_raca/publish.sql
  bases/br_sp_gov_orcamento/despesas/publish.sql
  bases/br_sp_gov_orcamento/receita_arrecadada/publish.sql
  bases/br_sp_gov_orcamento/receita_prevista/publish.sql
  bases/br_sp_ssp_seguranca/ocorrecencias_registradas/publish.sql
  bases/br_sp_ssp_seguranca/produtividade_policial/publish.sql
  bases/br_tse_eleicoes/candidatos/publish.sql
  bases/br_tse_eleicoes/coligacoes/publish.sql
  bases/br_tse_eleicoes/detalhes_votacao_municipio/publish.sql
  bases/br_tse_eleicoes/detalhes_votacao_municipio_zona/publish.sql
  bases/br_tse_eleicoes/detalhes_votacao_secao/publish.sql
  bases/br_tse_eleicoes/local_secao/publish.sql
  bases/br_tse_eleicoes/resultados_candidato_municipio/publish.sql
  bases/br_tse_eleicoes/resultados_candidato_municipio_zona/publish.sql
  bases/br_tse_eleicoes/resultados_candidato_secao/publish.sql
  bases/br_tse_eleicoes/resultados_partido_municipio/publish.sql
  bases/br_tse_eleicoes/resultados_partido_municipio_zona/publish.sql
  bases/br_tse_eleicoes/resultados_partido_secao/publish.sql
  bases/br_tse_eleicoes/vagas/publish.sql
  bases/br_tse_filiacao_partidaria/filiacao_partidaria/publish.sql
  pyproject.toml
  tests/sample_data/table/publish.sql
  tests/sample_data/table/publish_part.sql
  tests/sample_data/table/table_config.yaml
Labels: priority

#176 Publica eleição 2020
  bases/br_tse_eleicoes/resultados_preliminares_2020/publish.sql
  bases/br_tse_eleicoes/resultados_preliminares_2020/schema-prod.json
  bases/br_tse_eleicoes/resultados_preliminares_2020/schema-staging.json
  bases/br_tse_eleicoes/resultados_preliminares_2020/table_config.yaml
  bases/br_tse_eleicoes/resultados_preliminares_2020/table_description.txt
  bases/mundo_onu_adh/README.md
  bases/mundo_onu_adh/brasil/publish.sql
  bases/mundo_onu_adh/brasil/schema-prod.json
  bases/mundo_onu_adh/brasil/schema-staging.json
  bases/mundo_onu_adh/brasil/table_config.yaml
  bases/mundo_onu_adh/brasil/table_description.txt
  bases/mundo_onu_adh/code/build.do
  bases/mundo_onu_adh/dataset_config.yaml
  bases/mundo_onu_adh/dictionaries/Atlas 2013_municipal, estadual e Brasil.xlsx
  bases/mundo_onu_adh/estados/publish.sql
  bases/mundo_onu_adh/estados/schema-prod.json
  bases/mundo_onu_adh/estados/schema-staging.json
  bases/mundo_onu_adh/estados/table_config.yaml
  bases/mundo_onu_adh/estados/table_description.txt
  bases/mundo_onu_adh/municipios/publish.sql
  bases/mundo_onu_adh/municipios/schema-prod.json
  bases/mundo_onu_adh/municipios/schema-staging.json
  bases/mundo_onu_adh/municipios/table_config.yaml
  bases/mundo_onu_adh/municipios/table_description.txt
Labels: data

#170 Adiciona documentação do CLI
  basedosdados/cli.py
  docs/cli_reference_api.md
  mkdocs.yml
  requirements-dev.txt
Labels: documentation

#177 Publica siglas_partidos.
  bases/br_camara_dados_abertos/README.md
  bases/br_camara_dados_abertos/dataset_config.yaml
  bases/br_camara_dados_abertos/siglas_partidos/publish.sql
  bases/br_camara_dados_abertos/siglas_partidos/schema-prod.json
  bases/br_camara_dados_abertos/siglas_partidos/schema-staging.json
  bases/br_camara_dados_abertos/siglas_partidos/table_config.yaml
  bases/br_camara_dados_abertos/siglas_partidos/table_description.txt
Labels: data
