Repository basedosdados/sdk, pull requests merged in 2020-10, with the labels that each got.

#84 Update docs
  docs/access_data_bq.md
  docs/access_data_local.md
  docs/css/termynal.css
  docs/images/bq_query_view.png
  docs/images/bq_schema_details.png
  docs/index.md
  docs/js/custom.js
  docs/js/termynal.js
  docs/naming_rules.md
  mkdocs.yml
Labels: documentation

#142 Sobe tudo do MapBiomas.
  bases/br_mapbiomas_estatisticas/README.md
  bases/br_mapbiomas_estatisticas/cobertura_estado_bioma_classe/publish.sql
  bases/br_mapbiomas_estatisticas/cobertura_estado_bioma_classe/schema-prod.json
  bases/br_mapbiomas_estatisticas/cobertura_estado_bioma_classe/table_config.yaml
  bases/br_mapbiomas_estatisticas/cobertura_estado_bioma_classe/table_description.txt
  bases/br_mapbiomas_estatisticas/cobertura_municipio_classe/publish.sql
  bases/br_mapbiomas_estatisticas/cobertura_municipio_classe/schema-prod.json
  bases/br_mapbiomas_estatisticas/cobertura_municipio_classe/table_config.yaml
  bases/br_mapbiomas_estatisticas/cobertura_municipio_classe/table_description.txt
  bases/br_mapbiomas_estatisticas/code/build.do
  bases/br_mapbiomas_estatisticas/code/fnc/clean_string.do
  bases/br_mapbiomas_estatisticas/code/fnc/limpa_nivel.do
  bases/br_mapbiomas_estatisticas/code/sub/cobertura.do
  bases/br_mapbiomas_estatisticas/code/sub/particao.do
  bases/br_mapbiomas_estatisticas/code/sub/transicao.do
  bases/br_mapbiomas_estatisticas/dataset_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_anual/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_anual/schema-prod.json
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_anual/table_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_anual/table_description.txt
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_decenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_decenal/schema-prod.json
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_decenal/table_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_decenal/table_description.txt
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_quinquenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_quinquenal/schema-prod.json
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_quinquenal/table_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_estado_bioma_de_para_quinquenal/table_description.txt
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_anual/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_anual/schema-prod.json
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_anual/table_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_anual/table_description.txt
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_decenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_decenal/schema-prod.json
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_decenal/table_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_decenal/table_description.txt
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_quinquenal/publish.sql
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_quinquenal/schema-prod.json
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_quinquenal/table_config.yaml
  bases/br_mapbiomas_estatisticas/transicao_municipio_de_para_quinquenal/table_description.txt
Labels: data

#143 Sobe microdados da PNAD-COVID.
  bases/br_ibge_pnad_covid/README.md
  bases/br_ibge_pnad_covid/code/build.do
  bases/br_ibge_pnad_covid/dataset_config.yaml
  bases/br_ibge_pnad_covid/dictionaries/Deflator_PNAD_COVID_2020_08.xls
  bases/br_ibge_pnad_covid/dictionaries/Dicionario_PNAD_COVID_052020.xls
  bases/br_ibge_pnad_covid/dictionaries/Dicionario_PNAD_COVID_062020.xls
  bases/br_ibge_pnad_covid/dictionaries/Dicionario_PNAD_COVID_072020.xls
  bases/br_ibge_pnad_covid/dictionaries/Dicionario_PNAD_COVID_082020.xls
  bases/br_ibge_pnad_covid/microdados/publish.sql
  bases/br_ibge_pnad_covid/microdados/schema-prod.json
  bases/br_ibge_pnad_covid/microdados/table_config.yaml
  bases/br_ibge_pnad_covid/microdados/table_description.txt
Labels: data

#140 Bases do estado de SP
  bases/br_sp_gov_orcamento/README.md
  bases/br_sp_gov_orcamento/dataset_config.yaml
  bases/br_sp_gov_orcamento/despesas/publish.sql
  bases/br_sp_gov_orcamento/despesas/schema-prod.json
  bases/br_sp_gov_orcamento/despesas/table_config.yaml
  bases/br_sp_gov_orcamento/despesas/table_description.txt
  bases/br_sp_gov_orcamento/receita_arrecadada/publish.sql
  bases/br_sp_gov_orcamento/receita_arrecadada/schema-prod.json
  bases/br_sp_gov_orcamento/receita_arrecadada/table_config.yaml
  bases/br_sp_gov_orcamento/receita_arrecadada/table_description.txt
  bases/br_sp_gov_orcamento/receita_prevista/publish.sql
  bases/br_sp_gov_orcamento/receita_prevista/schema-prod.json
  bases/br_sp_gov_orcamento/receita_prevista/table_config.yaml
  bases/br_sp_gov_orcamento/receita_prevista/table_description.txt
  bases/br_sp_ssp_seguranca/README.md
  bases/br_sp_ssp_seguranca/dataset_config.yaml
  bases/br_sp_ssp_seguranca/ocorrecencias_registradas/publish.sql
  bases/br_sp_ssp_seguranca/ocorrecencias_registradas/schema-prod.json
  bases/br_sp_ssp_seguranca/ocorrecencias_registradas/table_config.yaml
  bases/br_sp_ssp_seguranca/ocorrecencias_registradas/table_description.txt
  bases/br_sp_ssp_seguranca/produtividade_policial/publish.sql
  bases/br_sp_ssp_seguranca/produtividade_policial/schema-prod.json
  bases/br_sp_ssp_seguranca/produtividade_policial/table_config.yaml
  bases/br_sp_ssp_seguranca/produtividade_policial/table_description.txt
Labels: data

#147 Add br_ms_sim
  bases/br_ms_sim/README.md
  bases/br_ms_sim/code/build.do
  bases/br_ms_sim/code/fnc/dbc2csv.R
  bases/br_ms_sim/code/sub/agregacao.do
  bases/br_ms_sim/code/sub/microdados.do
  bases/br_ms_sim/code/sub/normalizacao_particao.do
  bases/br_ms_sim/dataset_config.yaml
  bases/br_ms_sim/dictionaries/CID10/CID-10-CAPITULOS.CSV
  bases/br_ms_sim/dictionaries/CID10/CID-10-CATEGORIAS.CSV
  bases/br_ms_sim/dictionaries/CID10/CID-10-GRUPOS.CSV
  bases/br_ms_sim/dictionaries/CID10/CID-10-SUBCATEGORIAS.CSV
  bases/br_ms_sim/dictionaries/CID10/CID-O-CATEGORIAS.CSV
  bases/br_ms_sim/dictionaries/CID10/CID-O-GRUPOS.CSV
  bases/br_ms_sim/dictionaries/Convenções SIM - Raphael Saldanha.pdf
  bases/br_ms_sim/dictionaries/Dicionario_de_Dados_SIM_tabela_DOM.pdf
  bases/br_ms_sim/microdados/publish.sql
  bases/br_ms_sim/microdados/schema-prod.json
  bases/br_ms_sim/microdados/schema-staging.json
  bases/br_ms_sim/microdados/table_config.yaml
  bases/br_ms_sim/microdados/table_description.txt
  bases/br_ms_sim/municipio/publish.sql
  bases/br_ms_sim/municipio/schema-prod.json
  bases/br_ms_sim/municipio/schema-staging.json
  bases/br_ms_sim/municipio/table_config.yaml
  bases/br_ms_sim/municipio/table_description.txt
  bases/br_ms_sim/municipio_causa/publish.sql
  bases/br_ms_sim/municipio_causa/schema-prod.json
  bases/br_ms_sim/municipio_causa/table_config.yaml
  bases/br_ms_sim/municipio_causa/table_description.txt
Labels: data

#153 Add br ibge nomes brasil
  bases/br_ibge_nomes_brasil/README.md
  bases/br_ibge_nomes_brasil/code/build.do
  bases/br_ibge_nomes_brasil/dataset_config.yaml
  bases/br_ibge_nomes_brasil/quantidade_municipio_nome_2010/publish.sql
  bases/br_ibge_nomes_brasil/quantidade_municipio_nome_2010/schema-prod.json
  bases/br_ibge_nomes_brasil/quantidade_municipio_nome_2010/schema-staging.json
  bases/br_ibge_nomes_brasil/quantidade_municipio_nome_2010/table_config.yaml
  bases/br_ibge_nomes_brasil/quantidade_municipio_nome_2010/table_description.txt
Labels: data

#127 Adicionando documentacao da API Python
  .gitignore
  basedosdados/dataset.py
  basedosdados/download.py
  basedosdados/storage.py
  basedosdados/table.py
  docs/cli_reference_api.md
  docs/css/custom.css
  docs/py_reference_api.md
  mkdocs.yml
  requirements-dev.txt
Labels: documentation

#160 Fix detalhes_votacao_secao.
  bases/br_tse_eleicoes/detalhes_votacao_secao/publish.sql
  bases/br_tse_eleicoes/detalhes_votacao_secao/schema-prod.json
  bases/br_tse_eleicoes/detalhes_votacao_secao/schema-staging.json
  bases/br_tse_eleicoes/detalhes_votacao_secao/table_config.yaml
Labels: bug, data

#161 Update issue templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bugs.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/language-request.md
  .github/ISSUE_TEMPLATE/new_data.md
  .github/ISSUE_TEMPLATE/nova-linguagem.md
  .github/ISSUE_TEMPLATE/novas-funcionalidades.md
  .github/ISSUE_TEMPLATE/novos-dados.md
Labels: documentation

#152 Adicionando `mode = all` no Storage
  basedosdados/storage.py
Labels: enhancement
