Repository basedosdados/sdk, pull requests merged in 2021-01, with the labels that each got.

#207 Adiciona dados sobre militares, com explicação do tratamento na descr…
  bases/br_cgu_servidores_executivo_federal/servidores_militares_cadastro/publish.sql
  bases/br_cgu_servidores_executivo_federal/servidores_militares_cadastro/schema-prod.json
  bases/br_cgu_servidores_executivo_federal/servidores_militares_cadastro/table_config.yaml
  bases/br_cgu_servidores_executivo_federal/servidores_militares_cadastro/table_description.txt
Labels: data

#203 Sobe RAIS.
  bases/br_me_rais/README.md
  bases/br_me_rais/code/build.do
  bases/br_me_rais/code/sub/estabelecimentos.do
  bases/br_me_rais/code/sub/vinculos.do
  bases/br_me_rais/dataset_config.yaml
  bases/br_me_rais/dictionaries/estabelecimento/10RAIS_estabelecimento_layout1999e2000.xls
  bases/br_me_rais/dictionaries/estabelecimento/11RAIS_estabelecimento_layout2001.xls
  bases/br_me_rais/dictionaries/estabelecimento/12RAIS_estabelecimento_layout.2002a2013.xls
  bases/br_me_rais/dictionaries/estabelecimento/1RAIS_estabelecimento_layout1985A1989.xls
  bases/br_me_rais/dictionaries/estabelecimento/2RAIS_estabelecimento_layout1990.xls
  bases/br_me_rais/dictionaries/estabelecimento/3RAIS_estabelecimento_layout1991e1992.xls
  bases/br_me_rais/dictionaries/estabelecimento/4RAIS_estabelecimento_layout1993.xls
  bases/br_me_rais/dictionaries/estabelecimento/5RAIS_estabelecimento_layout1994.xls
  bases/br_me_rais/dictionaries/estabelecimento/6RAIS_estabelecimento_layout1995.xls
  bases/br_me_rais/dictionaries/estabelecimento/7RAIS_estabelecimento_layout1996.xls
  bases/br_me_rais/dictionaries/estabelecimento/8RAIS_estabelecimento_layout1997.xls
  bases/br_me_rais/dictionaries/estabelecimento/9RAIS_estabelecimento_layout1998.xls
  bases/br_me_rais/dictionaries/estabelecimento/RAIS_estabelecimento_layout2014a2017.xls
  bases/br_me_rais/dictionaries/estabelecimento/RAIS_estabelecimento_layout2018.xls
  bases/br_me_rais/dictionaries/vinculos/RAIS_vinculos_layout.xls
  bases/br_me_rais/dictionaries/vinculos/RAIS_vinculos_layout1985a1993.xls
  bases/br_me_rais/dictionaries/vinculos/RAIS_vinculos_layout2015.xls
  bases/br_me_rais/dictionaries/vinculos/RAIS_vinculos_layout2016.xls
  bases/br_me_rais/dictionaries/vinculos/RAIS_vinculos_layout2017.xls
  bases/br_me_rais/dictionaries/vinculos/RAIS_vinculos_layout2018.xls
  bases/br_me_rais/microdados_estabelecimentos/publish.sql
  bases/br_me_rais/microdados_estabelecimentos/schema-prod.json
  bases/br_me_rais/microdados_estabelecimentos/schema-staging.json
  bases/br_me_rais/microdados_estabelecimentos/table_config.yaml
  bases/br_me_rais/microdados_estabelecimentos/table_description.txt
  bases/br_me_rais/microdados_vinculos/publish.sql
  bases/br_me_rais/microdados_vinculos/schema-prod.json
  bases/br_me_rais/microdados_vinculos/schema-staging.json
  bases/br_me_rais/microdados_vinculos/table_config.yaml
  bases/br_me_rais/microdados_vinculos/table_description.txt
Labels: data

#212 [WAITING REVIEW] Adds reauthorization to download funcs (Solves #211)
  basedosdados/cli.py
  basedosdados/download.py
  basedosdados/exceptions.py
  docs/access_data_bq.md
  docs/access_data_local.md
  docs/images/project_id_example.png
  pyproject.toml
  tests/test_download.py
Labels: bug, docs

#233 Nova estrutura de documentação.
  docs/add_data.md
  docs/analysis.md
  docs/api_docs.md
  docs/colab_data.md
  docs/github.md
  docs/index.md
  docs/style_data.md
  docs/style_naming_columns.md
  docs/style_naming_datasets_tables.md
  docs/support.md
  docs/variable_naming_rules.md
  mkdocs.yml
Labels: docs, enhancement

#244 fix the conversion of metadata_path to lower
  basedosdados/base.py
Labels: bug

#238 resolve bug do project_id no publish.sql
  basedosdados/configs/templates/table/publish.sql
  basedosdados/table.py
Labels: bug
