Repository basedosdados/sdk, pull requests merged in 2022-04, with the labels that each got.

#1134 [docs][WIP] Melhorias + bug fix
  docs/api_reference_cli.md
  docs/css/custom.css
  mkdocs.yml
  python-package/requirements-dev.txt
Labels: docs

#1179 [dados] nl_ug_pwt
  bases/nl_ug_pwt/README.md
  bases/nl_ug_pwt/code/nl_ug_pwt.py
  bases/nl_ug_pwt/dataset_config.yaml
  bases/nl_ug_pwt/microdados/publish.sql
  bases/nl_ug_pwt/microdados/schema-prod.json
  bases/nl_ug_pwt/microdados/schema-staging.json
  bases/nl_ug_pwt/microdados/table_config.yaml
  bases/nl_ug_pwt/microdados/table_description.txt
Labels: data, data-check-trigger

#1080 [dados-qualidade] br_ba_feiradesantana_camara_leis
  bases/br_ba_feiradesantana_camara_leis/dataset_config.yaml
  bases/br_ba_feiradesantana_camara_leis/microdados/publish.sql
  bases/br_ba_feiradesantana_camara_leis/microdados/schema-prod.json
  bases/br_ba_feiradesantana_camara_leis/microdados/schema-staging.json
  bases/br_ba_feiradesantana_camara_leis/microdados/table_config.yaml
  bases/br_ba_feiradesantana_camara_leis/microdados/table_description.txt
Labels: data-quality

#1074 [dados-qualidade] br_abrinq_oca
  bases/br_abrinq_oca/dataset_config.yaml
  bases/br_abrinq_oca/primeira_infancia_municipio/publish.sql
  bases/br_abrinq_oca/primeira_infancia_municipio/schema-prod.json
  bases/br_abrinq_oca/primeira_infancia_municipio/schema-staging.json
  bases/br_abrinq_oca/primeira_infancia_municipio/table_config.yaml
  bases/br_abrinq_oca/primeira_infancia_municipio/table_description.txt
Labels: data, data-quality

#1190 [dados-atualizacao] br_anatel_banda_larga_fixa.microdados
  bases/br_anatel_banda_larga_fixa/microdados/publish.sql
  bases/br_anatel_banda_larga_fixa/microdados/schema-prod.json
  bases/br_anatel_banda_larga_fixa/microdados/table_config.yaml
  bases/br_anatel_banda_larga_fixa/microdados/table_description.txt
Labels: data-update

#1199 [dados] `br_tse_eleicoes`
  bases/br_tse_eleicoes/candidatos/schema-prod.json
  bases/br_tse_eleicoes/candidatos/schema-staging.json
  bases/br_tse_eleicoes/candidatos/table_config.yaml
  bases/br_tse_eleicoes/candidatos/table_description.txt
  bases/br_tse_eleicoes/code/build.do
  bases/br_tse_eleicoes/code/fnc/limpa_candidato.do
  bases/br_tse_eleicoes/code/sub/candidatos.do
  bases/br_tse_eleicoes/code/sub/cria_id_candidato.do
  bases/br_tse_eleicoes/code/sub/normalizacao_particao.do
  bases/br_tse_eleicoes/code/sub/prestacao_contas.do
  bases/br_tse_eleicoes/code/sub/resultados_municipio_zona.do
  bases/br_tse_eleicoes/code/sub/resultados_secao.do
Labels: data

#1198 [dados-atualizacao] br_ms_imunizacoes
  bases/br_ms_imunizacoes/dataset_config.yaml
  bases/br_ms_imunizacoes/municipio/schema-prod.json
  bases/br_ms_imunizacoes/municipio/schema-staging.json
  bases/br_ms_imunizacoes/municipio/table_config.yaml
  bases/br_ms_imunizacoes/municipio/table_description.txt
Labels: data, data-update, data-quality

#1201 [dados] `br_bd_diretorios_brasil.regiao_metropolitana`
  bases/br_bd_diretorios_brasil/code/regiao_metropolitana.py
  bases/br_bd_diretorios_brasil/regiao_metropolitana/publish.sql
  bases/br_bd_diretorios_brasil/regiao_metropolitana/schema-prod.json
  bases/br_bd_diretorios_brasil/regiao_metropolitana/schema-staging.json
  bases/br_bd_diretorios_brasil/regiao_metropolitana/table_config.yaml
  bases/br_bd_diretorios_brasil/regiao_metropolitana/table_description.txt
Labels: data, data-quality
