Repository basedosdados/sdk, pull requests merged in 2022-06, with the labels that each got.

#1231 [docs] Moedas relativas
  docs/style_data.md
Labels: docs

#1235 Update style_data.md
  docs/style_data.md
Labels: docs

#1239 [dados] `br_geobr_mapas.municipio`
  bases/br_geobr_mapas/escola/publish.sql
  bases/br_geobr_mapas/escola/schema-prod.json
  bases/br_geobr_mapas/escola/schema-staging.json
  bases/br_geobr_mapas/escola/table_config.yaml
  bases/br_geobr_mapas/escola/table_description.txt
  bases/br_geobr_mapas/municipio/publish.sql
  bases/br_geobr_mapas/municipio/schema-prod.json
  bases/br_geobr_mapas/municipio/schema-staging.json
  bases/br_geobr_mapas/municipio/table_config.yaml
  bases/br_geobr_mapas/municipio/table_description.txt
Labels: data

#1230 [dados - atualizacao] br_me_pensionistas
  bases/br_me_pensionistas/dataset_config.yaml
  bases/br_me_pensionistas/microdados/table_config.yaml
Labels: data, data-quality

#1242 [dados] `br_me_caged`
  bases/br_me_caged/code/caged_novo/br_me_caged_cleaning.py
  bases/br_me_caged/code/caged_novo/br_me_caged_download.sh
  bases/br_me_caged/dataset_config.yaml
  bases/br_me_caged/microdados_movimentacao/publish.sql
  bases/br_me_caged/microdados_movimentacao/schema-prod.json
  bases/br_me_caged/microdados_movimentacao/schema-staging.json
  bases/br_me_caged/microdados_movimentacao/table_config.yaml
  bases/br_me_caged/microdados_movimentacao/table_description.txt
  bases/br_me_caged/microdados_movimentacao_excluida/publish.sql
  bases/br_me_caged/microdados_movimentacao_excluida/schema-prod.json
  bases/br_me_caged/microdados_movimentacao_excluida/schema-staging.json
  bases/br_me_caged/microdados_movimentacao_excluida/table_config.yaml
  bases/br_me_caged/microdados_movimentacao_excluida/table_description.txt
  bases/br_me_caged/microdados_movimentacao_fora_prazo/publish.sql
  bases/br_me_caged/microdados_movimentacao_fora_prazo/schema-prod.json
  bases/br_me_caged/microdados_movimentacao_fora_prazo/schema-staging.json
  bases/br_me_caged/microdados_movimentacao_fora_prazo/table_config.yaml
  bases/br_me_caged/microdados_movimentacao_fora_prazo/table_description.txt
Labels: data

#1247 [dados - atualizacao] br_abrinq_oca
  bases/br_abrinq_oca/dataset_config.yaml
  bases/br_abrinq_oca/municipio_primeira_infancia/publish.sql
  bases/br_abrinq_oca/municipio_primeira_infancia/schema-prod.json
  bases/br_abrinq_oca/municipio_primeira_infancia/schema-staging.json
  bases/br_abrinq_oca/municipio_primeira_infancia/table_config.yaml
  bases/br_abrinq_oca/municipio_primeira_infancia/table_description.txt
  bases/br_abrinq_oca/primeira_infancia_municipio/schema-prod.json
  bases/br_abrinq_oca/primeira_infancia_municipio/schema-staging.json
Labels: bug, data, data-quality

#1246 [dados-atualizacao] br_ibge_amc
  bases/br_ibge_amc/dataset_config.yaml
  bases/br_ibge_amc/municipio_de_para/table_config.yaml
Labels: data, data-quality

#1233 [dados - atualizacao] br_inpe_prodes
  bases/br_inpe_prodes/dataset_config.yaml
  bases/br_inpe_prodes/desmatamento_municipio/table_config.yaml
Labels: data, data-quality
