Repository basedosdados/sdk, pull requests merged in 2022-03, with the labels that each got.

#1135 [dados] br_ibge_pnad.microdados_domicilio_pessoa
  bases/br_ibge_pnad/code/br_ibge_pnad.py
  bases/br_ibge_pnad/dicionario/schema-staging.json
  bases/br_ibge_pnad/dicionario/table_config.yaml
  bases/br_ibge_pnad/microdados_compatibilizados_datazoom/publish.sql
  bases/br_ibge_pnad/microdados_compatibilizados_datazoom/schema-prod.json
  bases/br_ibge_pnad/microdados_compatibilizados_datazoom/schema-staging.json
  bases/br_ibge_pnad/microdados_compatibilizados_domicilio/publish.sql
  bases/br_ibge_pnad/microdados_compatibilizados_domicilio/schema-prod.json
  bases/br_ibge_pnad/microdados_compatibilizados_domicilio/schema-staging.json
  bases/br_ibge_pnad/microdados_compatibilizados_domicilio/table_config.yaml
  bases/br_ibge_pnad/microdados_compatibilizados_domicilio/table_description.txt
  bases/br_ibge_pnad/microdados_compatibilizados_pessoa/publish.sql
  bases/br_ibge_pnad/microdados_compatibilizados_pessoa/schema-prod.json
  bases/br_ibge_pnad/microdados_compatibilizados_pessoa/schema-staging.json
  bases/br_ibge_pnad/microdados_compatibilizados_pessoa/table_config.yaml
  bases/br_ibge_pnad/microdados_compatibilizados_pessoa/table_description.txt
Labels: data, data-check-trigger

#1143 [dados-atualizacao] br_sp_saopaulo_dieese_icv
  bases/br_sp_saopaulo_dieese_icv/ano/schema-staging.json
  bases/br_sp_saopaulo_dieese_icv/ano/table_config.yaml
  bases/br_sp_saopaulo_dieese_icv/dataset_config.yaml
  bases/br_sp_saopaulo_dieese_icv/mes/schema-staging.json
  bases/br_sp_saopaulo_dieese_icv/mes/table_config.yaml
Labels: data, data-check-trigger, data-update

#1106 [docs] faz alterações na documentação colaboradores
  docs/colab_data.md
Labels: docs

#1109 [infra] Python 1.6.2
  .github/workflows/python-ci.yml
  bases/br_bd_diretorios_brasil/dataset_config.yaml
  bases/test_dataset/README.md
  python-package/README.md
  python-package/basedosdados/__init__.py
  python-package/basedosdados/cli/cli.py
  python-package/basedosdados/configs/templates/table/table_description.txt
  python-package/basedosdados/constants.py
  python-package/basedosdados/download/download.py
  python-package/basedosdados/download/metadata.py
  python-package/basedosdados/upload/base.py
  python-package/basedosdados/upload/dataset.py
  python-package/basedosdados/upload/datatypes.py
  python-package/basedosdados/upload/metadata.py
  python-package/basedosdados/upload/storage.py
  python-package/basedosdados/upload/table.py
  python-package/poetry.lock
  python-package/pyproject.toml
  python-package/tests/sample_data/table/municipio.avro
  python-package/tests/sample_data/table/municipio.parquet
  python-package/tests/test_download/test_metadata.py
  python-package/tests/test_table.py
Labels: bug, enhancement

#1141 [dados] br_inep_saeb.dicionario
  bases/br_inep_saeb/code/[dados] br_inep_saeb_aluno_ef_9ano.ipynb
  bases/br_inep_saeb/code/[dados] br_inep_saeb_proficiencia.ipynb
  bases/br_inep_saeb/dataset_config.yaml
  bases/br_inep_saeb/dicionario/schema-prod.json
  bases/br_inep_saeb/dicionario/schema-staging.json
  bases/br_inep_saeb/dicionario/table_config.yaml
  bases/br_inep_saeb/dicionario/table_description.txt
Labels: data-update, data-quality

#1157 [dados] `br_tpe_classificacao_saeb`
  bases/br_tpe_classificacao_saeb/README.md
  bases/br_tpe_classificacao_saeb/categoria/publish.sql
  bases/br_tpe_classificacao_saeb/categoria/schema-prod.json
  bases/br_tpe_classificacao_saeb/categoria/schema-staging.json
  bases/br_tpe_classificacao_saeb/categoria/table_config.yaml
  bases/br_tpe_classificacao_saeb/categoria/table_description.txt
  bases/br_tpe_classificacao_saeb/dataset_config.yaml
Labels: data, data-check-trigger

#754 [infra] Stata Package
  stata-package/README.md
  stata-package/basedosdados.dlg
  stata-package/basedosdados.pkg
  stata-package/bd_download.ado
  stata-package/bd_download.sthlp
  stata-package/bd_get_table_columns.ado
  stata-package/bd_get_table_columns.sthlp
  stata-package/bd_get_table_description.ado
  stata-package/bd_get_table_description.sthlp
  stata-package/bd_list_dataset_tables.ado
  stata-package/bd_list_dataset_tables.sthlp
  stata-package/bd_list_datasets.ado
  stata-package/bd_list_datasets.sthlp
  stata-package/bd_read_sql.ado
  stata-package/bd_read_sql.sthlp
  stata-package/bd_read_table.ado
  stata-package/bd_read_table.sthlp
  stata-package/instrucoes.dlg
  stata-package/stata.toc
Labels: enhancement

#1140 [dados] br_inep_saeb.aluno_ef_9ano
  bases/br_inep_saeb/aluno_ef_9ano/publish.sql
  bases/br_inep_saeb/aluno_ef_9ano/schema-prod.json
  bases/br_inep_saeb/aluno_ef_9ano/schema-staging.json
  bases/br_inep_saeb/aluno_ef_9ano/table_config.yaml
  bases/br_inep_saeb/aluno_ef_9ano/table_description.txt
Labels: data, data-check-trigger

#1142 [dados] br_inep_saeb.proficiencia
  bases/br_inep_saeb/proficiencia/publish.sql
  bases/br_inep_saeb/proficiencia/schema-prod.json
  bases/br_inep_saeb/proficiencia/schema-staging.json
  bases/br_inep_saeb/proficiencia/table_config.yaml
  bases/br_inep_saeb/proficiencia/table_description.txt
Labels: data-check-trigger, data-update, data-quality

#1174 [docs] Stata
  docs/access_data_packages.md
  docs/api_reference_stata.md
  docs/index.md
  mkdocs.yml
Labels: docs

#1177 [dados] br_anatel_banda_larga_fixa
  bases/br_anatel_banda_larga_fixa/backhaul/publish.sql
  bases/br_anatel_banda_larga_fixa/backhaul/schema-prod.json
  bases/br_anatel_banda_larga_fixa/backhaul/schema-staging.json
  bases/br_anatel_banda_larga_fixa/backhaul/table_config.yaml
  bases/br_anatel_banda_larga_fixa/backhaul/table_description.txt
  bases/br_anatel_banda_larga_fixa/densidade_brasil/publish.sql
  bases/br_anatel_banda_larga_fixa/densidade_brasil/schema-prod.json
  bases/br_anatel_banda_larga_fixa/densidade_brasil/schema-staging.json
  bases/br_anatel_banda_larga_fixa/densidade_brasil/table_config.yaml
  bases/br_anatel_banda_larga_fixa/densidade_brasil/table_description.txt
  bases/br_anatel_banda_larga_fixa/densidade_municipio/publish.sql
  bases/br_anatel_banda_larga_fixa/densidade_municipio/schema-prod.json
  bases/br_anatel_banda_larga_fixa/densidade_municipio/schema-staging.json
  bases/br_anatel_banda_larga_fixa/densidade_municipio/table_config.yaml
  bases/br_anatel_banda_larga_fixa/densidade_municipio/table_description.txt
  bases/br_anatel_banda_larga_fixa/densidade_uf/publish.sql
  bases/br_anatel_banda_larga_fixa/densidade_uf/schema-prod.json
  bases/br_anatel_banda_larga_fixa/densidade_uf/schema-staging.json
  bases/br_anatel_banda_larga_fixa/densidade_uf/table_config.yaml
  bases/br_anatel_banda_larga_fixa/densidade_uf/table_description.txt
  bases/br_anatel_banda_larga_fixa/microdados/publish.sql
  bases/br_anatel_banda_larga_fixa/microdados/schema-staging.json
  bases/br_anatel_banda_larga_fixa/microdados/table_config.yaml
  bases/br_anatel_banda_larga_fixa/municipio/publish.sql
  bases/br_anatel_banda_larga_fixa/municipio/schema-prod.json
  bases/br_anatel_banda_larga_fixa/municipio/schema-staging.json
  bases/br_anatel_banda_larga_fixa/municipio/table_config.yaml
  bases/br_anatel_banda_larga_fixa/municipio/table_description.txt
  bases/br_anatel_banda_larga_fixa/pble/publish.sql
  bases/br_anatel_banda_larga_fixa/pble/schema-prod.json
  bases/br_anatel_banda_larga_fixa/pble/schema-staging.json
  bases/br_anatel_banda_larga_fixa/pble/table_config.yaml
  bases/br_anatel_banda_larga_fixa/pble/table_description.txt
Labels: data-update, data-quality
