Repository basedosdados/sdk, pull requests merged in 2022-05, with the labels that each got.

#1215 [dados] br_bd_diretorios_mundo.pais
  bases/br_bd_diretorios_mundo/code/br_bd_diretorios_mundo_pais.ipynb
  bases/br_bd_diretorios_mundo/dataset_config.yaml
  bases/br_bd_diretorios_mundo/pais/publish.sql
  bases/br_bd_diretorios_mundo/pais/schema-prod.json
  bases/br_bd_diretorios_mundo/pais/schema-staging.json
  bases/br_bd_diretorios_mundo/pais/table_config.yaml
  bases/br_bd_diretorios_mundo/pais/table_description.txt
Labels: data, data-quality

#1206 [dados] br_ms_atencao_basica
  bases/br_ms_atencao_basica/README.md
  bases/br_ms_atencao_basica/code/Tratamento dos dados.ipynb
  bases/br_ms_atencao_basica/dataset_config.yaml
  bases/br_ms_atencao_basica/municipio/publish.sql
  bases/br_ms_atencao_basica/municipio/schema-prod.json
  bases/br_ms_atencao_basica/municipio/schema-staging.json
  bases/br_ms_atencao_basica/municipio/table_config.yaml
  bases/br_ms_atencao_basica/municipio/table_description.txt
Labels: data

#1178 [dados] br_ibge_ipp
  bases/br_ibge_ipp/README.md
  bases/br_ibge_ipp/dataset_config.yaml
  bases/br_ibge_ipp/mes_categoria_economica/publish.sql
  bases/br_ibge_ipp/mes_categoria_economica/schema-prod.json
  bases/br_ibge_ipp/mes_categoria_economica/schema-staging.json
  bases/br_ibge_ipp/mes_categoria_economica/table_config.yaml
  bases/br_ibge_ipp/mes_categoria_economica/table_description.txt
  bases/br_ibge_ipp/mes_grupo_industrial/publish.sql
  bases/br_ibge_ipp/mes_grupo_industrial/schema-prod.json
  bases/br_ibge_ipp/mes_grupo_industrial/schema-staging.json
  bases/br_ibge_ipp/mes_grupo_industrial/table_config.yaml
  bases/br_ibge_ipp/mes_grupo_industrial/table_description.txt
  bases/br_ibge_ipp/mes_industria_atividade/publish.sql
  bases/br_ibge_ipp/mes_industria_atividade/schema-prod.json
  bases/br_ibge_ipp/mes_industria_atividade/schema-staging.json
  bases/br_ibge_ipp/mes_industria_atividade/table_config.yaml
  bases/br_ibge_ipp/mes_industria_atividade/table_description.txt
  bases/br_ibge_ipp/mes_industria_extrativa/publish.sql
  bases/br_ibge_ipp/mes_industria_extrativa/schema-prod.json
  bases/br_ibge_ipp/mes_industria_extrativa/schema-staging.json
  bases/br_ibge_ipp/mes_industria_extrativa/table_config.yaml
  bases/br_ibge_ipp/mes_industria_extrativa/table_description.txt
  bases/br_ibge_ipp/mes_industria_geral/publish.sql
  bases/br_ibge_ipp/mes_industria_geral/schema-prod.json
  bases/br_ibge_ipp/mes_industria_geral/schema-staging.json
  bases/br_ibge_ipp/mes_industria_geral/table_config.yaml
  bases/br_ibge_ipp/mes_industria_geral/table_description.txt
  bases/br_ibge_ipp/mes_industria_transformacao/publish.sql
  bases/br_ibge_ipp/mes_industria_transformacao/schema-prod.json
  bases/br_ibge_ipp/mes_industria_transformacao/schema-staging.json
  bases/br_ibge_ipp/mes_industria_transformacao/table_config.yaml
  bases/br_ibge_ipp/mes_industria_transformacao/table_description.txt
Labels: data

#1207 [dados-atualizacao] br_ms_populacao
  bases/br_ms_populacao/dataset_config.yaml
  bases/br_ms_populacao/municipio/schema-prod.json
  bases/br_ms_populacao/municipio/schema-staging.json
  bases/br_ms_populacao/municipio/table_config.yaml
  bases/br_ms_populacao/municipio/table_description.txt
Labels: data, data-update, data-quality

#1070 [dados-qualidade] br_ana_atlas_esgotos
  bases/br_ana_atlas_esgotos/code/br_ana_atlas_esgotos.py
  bases/br_ana_atlas_esgotos/dataset_config.yaml
  bases/br_ana_atlas_esgotos/municipio/publish.sql
  bases/br_ana_atlas_esgotos/municipio/schema-prod.json
  bases/br_ana_atlas_esgotos/municipio/schema-staging.json
  bases/br_ana_atlas_esgotos/municipio/table_config.yaml
  bases/br_ana_atlas_esgotos/municipio/table_description.txt
Labels: data, data-quality

#1212 [dados] br_ibge_censo_agropecuario
  bases/br_ibge_censo_agropecuario/README.md
  bases/br_ibge_censo_agropecuario/code/br_ibge_censo_agropecuario.R
  bases/br_ibge_censo_agropecuario/dataset_config.yaml
  bases/br_ibge_censo_agropecuario/municipio/publish.sql
  bases/br_ibge_censo_agropecuario/municipio/schema-prod.json
  bases/br_ibge_censo_agropecuario/municipio/schema-staging.json
  bases/br_ibge_censo_agropecuario/municipio/table_config.yaml
  bases/br_ibge_censo_agropecuario/municipio/table_description.txt
Labels: data

#1225 [fix-dados] `br_ibge_censo_agropecuario`
  bases/br_ibge_censo_agropecuario/dataset_config.yaml
  bases/br_ibge_censo_agropecuario/municipio/publish.sql
  bases/br_ibge_censo_agropecuario/municipio/schema-prod.json
  bases/br_ibge_censo_agropecuario/municipio/schema-staging.json
  bases/br_ibge_censo_agropecuario/municipio/table_config.yaml
  bases/br_ibge_censo_agropecuario/municipio/table_description.txt
Labels: data
