Repository basedosdados/sdk, pull requests merged in 2022-12, with the labels that each got.

#1478 [dados-atualizacao] br_inep_censo_escolar.escola
  bases/br_inep_censo_escolar/code/antigo/build.do
  bases/br_inep_censo_escolar/code/code_escola.ipynb
  bases/br_inep_censo_escolar/code/code_escola_auxiliar.ipynb
  bases/br_inep_censo_escolar/dicionario/schema-prod.json
  bases/br_inep_censo_escolar/dicionario/schema-staging.json
  bases/br_inep_censo_escolar/dicionario/table_config.yaml
  bases/br_inep_censo_escolar/dicionario/table_description.txt
  bases/br_inep_censo_escolar/escola/publish.sql
  bases/br_inep_censo_escolar/escola/schema-prod.json
  bases/br_inep_censo_escolar/escola/schema-staging.json
  bases/br_inep_censo_escolar/escola/table_config.yaml
  bases/br_inep_censo_escolar/escola/table_description.txt
Labels: data, data-update

#1464 [fix] moving mkdocs outside python package
  .github/workflows/build-docs.yml
  poetry.lock
  pyproject.toml
Labels: bug

#1487 [dados-atualizacao] br_inep_censo_escolar.escola
  bases/br_inep_censo_escolar/escola/table_config.yaml
Labels: data-update

#1488 [infra] add __version__ atribute to python package
  python-package/basedosdados/__init__.py
Labels: python

#1489 [infra] add option to change copied table name on storage
  python-package/basedosdados/upload/storage.py
Labels: python

#1471 [dados] `br_cnj_estatisticas_poder_judiciario.recursos_financeiros`
  bases/br_cnj_estatisticas_poder_judiciario/README.md
  bases/br_cnj_estatisticas_poder_judiciario/code/recursos_financeiros.R
  bases/br_cnj_estatisticas_poder_judiciario/dataset_config.yaml
  bases/br_cnj_estatisticas_poder_judiciario/recursos_financeiros/publish.sql
  bases/br_cnj_estatisticas_poder_judiciario/recursos_financeiros/schema-prod.json
  bases/br_cnj_estatisticas_poder_judiciario/recursos_financeiros/schema-staging.json
  bases/br_cnj_estatisticas_poder_judiciario/recursos_financeiros/table_config.yaml
  bases/br_cnj_estatisticas_poder_judiciario/recursos_financeiros/table_description.txt
Labels: data

#1467 [dados] br_me_estoque_divida_publica
  bases/br_me_estoque_divida_publica/README.md
  bases/br_me_estoque_divida_publica/code/br_me_estoque_divida_publica.py
  bases/br_me_estoque_divida_publica/dataset_config.yaml
  bases/br_me_estoque_divida_publica/microdados/publish.sql
  bases/br_me_estoque_divida_publica/microdados/schema-prod.json
  bases/br_me_estoque_divida_publica/microdados/schema-staging.json
  bases/br_me_estoque_divida_publica/microdados/table_config.yaml
  bases/br_me_estoque_divida_publica/microdados/table_description.txt
Labels: data

#1474 [dados] world_gsps_consortium_gsps
  bases/world_gsps_consortium_gsps/README.md
  bases/world_gsps_consortium_gsps/code/world_gsps.ipynb
  bases/world_gsps_consortium_gsps/dataset_config.yaml
  bases/world_gsps_consortium_gsps/global_indicators/publish.sql
  bases/world_gsps_consortium_gsps/global_indicators/schema-prod.json
  bases/world_gsps_consortium_gsps/global_indicators/schema-staging.json
  bases/world_gsps_consortium_gsps/global_indicators/table_config.yaml
  bases/world_gsps_consortium_gsps/global_indicators/table_description.txt
Labels: data

#1495 [dados] RAIS 2021
  bases/br_me_rais/code/sub/estabelecimentos.do
  bases/br_me_rais/code/sub/vinculos.do
Labels: data

#1494 [fix] Shapely 2.0.0 breaks package in Colab
  .github/workflows/data-check.yml
  .github/workflows/metadata-validate.yml
  python-package/basedosdados/__init__.py
  python-package/poetry.lock
  python-package/pyproject.toml
  python-package/requirements-dev.txt
  python-package/setup.py
  python-package/tests/conftest.py
  python-package/tests/test_storage.py
  python-package/tests/test_table.py
Labels: bug

#1497 feat: publish megasena
  bases/br_caixa_sorteios/README.md
  bases/br_caixa_sorteios/dataset_config.yaml
  bases/br_caixa_sorteios/megasena/publish.sql
  bases/br_caixa_sorteios/megasena/schema-prod.json
  bases/br_caixa_sorteios/megasena/schema-staging.json
  bases/br_caixa_sorteios/megasena/table_config.yaml
  bases/br_caixa_sorteios/megasena/table_description.txt
Labels: data

#1442 [dados] `br_me_siconfi.municipio_balanco_patrimonial`
  bases/br_me_siconfi/code/build.do
  bases/br_me_siconfi/code/build_compatibilizacao.do
  bases/br_me_siconfi/municipio_balanco_patrimonial/publish.sql
  bases/br_me_siconfi/municipio_balanco_patrimonial/schema-prod.json
  bases/br_me_siconfi/municipio_balanco_patrimonial/schema-staging.json
  bases/br_me_siconfi/municipio_balanco_patrimonial/table_config.yaml
  bases/br_me_siconfi/municipio_balanco_patrimonial/table_description.txt
Labels: data

#1498 [dados] `mundo_bm_wdi`
  bases/mundo_bm_wdi/README.md
  bases/mundo_bm_wdi/code/build.do
  bases/mundo_bm_wdi/country_indicator/publish.sql
  bases/mundo_bm_wdi/country_indicator/schema-prod.json
  bases/mundo_bm_wdi/country_indicator/schema-staging.json
  bases/mundo_bm_wdi/country_indicator/table_config.yaml
  bases/mundo_bm_wdi/country_indicator/table_description.txt
  bases/mundo_bm_wdi/data/publish.sql
  bases/mundo_bm_wdi/data/schema-prod.json
  bases/mundo_bm_wdi/data/schema-staging.json
  bases/mundo_bm_wdi/data/table_config.yaml
  bases/mundo_bm_wdi/data/table_description.txt
  bases/mundo_bm_wdi/dataset_config.yaml
  bases/mundo_bm_wdi/dicionario/publish.sql
  bases/mundo_bm_wdi/dicionario/schema-prod.json
  bases/mundo_bm_wdi/dicionario/schema-staging.json
  bases/mundo_bm_wdi/dicionario/table_config.yaml
  bases/mundo_bm_wdi/dicionario/table_description.txt
  bases/mundo_bm_wdi/footnote/publish.sql
  bases/mundo_bm_wdi/footnote/schema-prod.json
  bases/mundo_bm_wdi/footnote/schema-staging.json
  bases/mundo_bm_wdi/footnote/table_config.yaml
  bases/mundo_bm_wdi/footnote/table_description.txt
  bases/mundo_bm_wdi/indicator_time/publish.sql
  bases/mundo_bm_wdi/indicator_time/schema-prod.json
  bases/mundo_bm_wdi/indicator_time/schema-staging.json
  bases/mundo_bm_wdi/indicator_time/table_config.yaml
  bases/mundo_bm_wdi/indicator_time/table_description.txt
  bases/mundo_bm_wdi/indicators/publish.sql
  bases/mundo_bm_wdi/indicators/schema-prod.json
  bases/mundo_bm_wdi/indicators/schema-staging.json
  bases/mundo_bm_wdi/indicators/table_config.yaml
  bases/mundo_bm_wdi/indicators/table_description.txt
Labels: data
