Repository basedosdados/sdk, pull requests merged in 2023-05, with the labels that each got.

#1640 [dados] update data_acess
  docs/access_data_bq.md
Labels: docs

#1642 [dados] br_geobr_mapas.semiarido
  bases/br_geobr_mapas/code/semiarido.py
  bases/br_geobr_mapas/semiarido/publish.sql
  bases/br_geobr_mapas/semiarido/schema-prod.json
  bases/br_geobr_mapas/semiarido/schema-staging.json
  bases/br_geobr_mapas/semiarido/table_config.yaml
  bases/br_geobr_mapas/semiarido/table_description.txt
Labels: data

#1644 [dados] br_anp_precos_combustiveis
  bases/br_anp_precos_combustiveis/README.md
  bases/br_anp_precos_combustiveis/code/microdados.ipynb
  bases/br_anp_precos_combustiveis/microdados/publish.sql
  bases/br_anp_precos_combustiveis/microdados/schema-prod.json
  bases/br_anp_precos_combustiveis/microdados/schema-staging.json
  bases/br_anp_precos_combustiveis/microdados/table_config.yaml
  bases/br_anp_precos_combustiveis/microdados/table_description.txt
Labels: data-update

#1653 [manual-estilo] Cobertura Temporal
  docs/style_data.md
Labels: docs, metadata
